.chat-list {
  height: 100%;
}

.chat-list__view {
  height: calc(100svh - 64px);
  margin-top: 64px;
}

.chat-list__item {
  width: 100%;
  height: 48px;
  padding: 4px;
  display: flex;
  flex-direction: row;
}

.chat-list__item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.chat-list__item-image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #3c3c3c;
}

.chat-list__item-title {
  display: block;
  width: 100%;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

.chat-list__item-title::after {
  --width: 60px;
  content: '';
  display: block;
  width: var(--width);
  height: 20px;
  background: linear-gradient(
    90deg,
    #ffffffad,
    white
  );
  position: relative;
  top: -20px;
  right: calc(-100% + var(--width));
}

.chat-list__item-users {
}
