.chat-list,
.chat-list__view {
  width: 100%;
}

.newchat-button {
  position: fixed;
  z-index: 998;
  top: calc(100svh - 100px);
  left: calc(100% - 110px);
}

.add-chat {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}