.burger-menu {
  height: 100svh;
  width: 65%;
  background-color: #1c1c1c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.burger-menu__container {
  margin: 0px 30px;
}

.burger-menu__item {
  color: #fff;
  list-style: none;
  margin-block: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.burger-button_close {
  height: 64px;
  width: 64px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 21px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    width: 340px;
  }
}