.chat-vew-feature {
  width: 100%;
  height: 100%;
}

.chat-view-feature__header {
  width: 100%;
  height: 64px;
  background-color: #3c3c3c;
}

.chat-view-feature__main {
  width: 100%;
  height: calc(70svh);
  background-color: #a8a8a8;
}

.chat-view-feature__form {
  width: 100%;
  height: 128px;
}

.chat-view-feature__form form {
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
}

.chat-view-feature__form button {
  width: 48px;
  height: 48px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: calc((64px - 48px) / 2);
}

.chat-view-feature__form textarea {
  width: calc(100% - 64px);
  padding: 10px;
  border: none;
  resize: none;
  border-radius: 5px;
  height: 128px;
}
