.chat-view__form {
  width: 100%;
  height: 45px;
}

.chat-view__form form {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
}

.chat-view__message {
  width: calc(100% - 80px);
  height: 45px;
  resize: none;
  padding: 5px;
}

.chat-view__submit {
  width: 80px;
  height: 45px;
  margin: 0;
}

.chat-view__messages {
  width: 100%;
  height: calc(100svh - 45px);
}
